<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf Demo</title>
</head>
<body>

<h3>Users Information</h3>

<table>
    <tr>
        <th>ID &nbsp; &nbsp; &nbsp; &nbsp;</th>
        <th>Name &nbsp; &nbsp; &nbsp; &nbsp;</th>
        <th>Age</th>
    </tr>

    <tr th:each="user : ${listOfUsers}">>

        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.age}"></td>
    </tr>

    <h3>Thymeleaf scopes</h3>

    Request: <span th:text="${#httpServletRequest.getAttribute('request')}"></span><br/>
    Session: <span th:text="${session.session}"></span><br/>
    Application: <span th:text="${application.application }"></span><br/>

    <h3>Thymeleaf URLs</h3>
    <!-- redirect to demo page without parameter -->
    <a th:href="@{~/demo}">Visit Demo Page</a> <br/>
    <!-- redirect to demo page with parameter -->
    <a th:href="@{~/demo(id=1, name=eric)}">Visit Demo page With Parameter</a>

</table>
</body>
</html>